{% extends "registration/master.html" %}
{% block title %}
  Log in to task.ly
{% endblock %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
<div class="d-flex flex-column align-items-center">
  <form method="post" class="d-flex flex-column align-items-center my-3" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-floating">
      {{ form.username }}
      {{ form.username.label_tag }}
    </div>
    <div class="form-floating">
      {{ form.password }}
      {{ form.password.label_tag }}
    </div>
    <input type="submit" class="btn btn-primary align-self-center mt-3" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <a class="btn btn-primary mb-3" type="button" href="{% url 'register' %}">Sign up</a>
  <a class="btn btn-primary" type="button" href="{% url 'password_reset' %}">Lost password?</a>
</div>
{% endblock %}
