{% extends "task_app/master.html" %}
{% load crispy_forms_tags %}
{% load svg %}
{% block headline %}
    Task details
{% endblock %}

{% block content %}
<div class="taskinfo container-fluid">
    <div class="row">
        <div class="col-md-1">
            <p class=""><strong>Title:</strong></p>
        </div>
        <div class="col">
            {{ task.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <p><strong>Description:</strong></p>
        </div>
        <div class="col">
            {{ task.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <p><strong>Due on:</strong></p>
        </div>
        <div class="col">
            {{ task.due_date }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <p><strong>Created by:</strong></p>
        </div>
        <div class="col">
            {{ task.created_by }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <p><strong>Completed?:</strong></p>
        </div>
        <div class="col-md-auto">
            {% if task.is_completed %}✅{% else %}❌{% endif %}
        </div>
    </div>
</div>
<div>
    {% if task.created_by.id == user.id %}
    <a class="btn btn-primary" role="button" href="{% url "task_app:update" task.id %}">Update this task</a>
    {% endif %}
    <a class="btn btn-primary" role="button" href="{% url "task_app:delete" task.id %}"> {% svg "trash-fill" %} Delete this task</a>
    {% if task.is_completed is False %}
    <a class="btn btn-primary" role="button" href="{% url "task_app:complete" task.id %}"> {% svg "check-lg" %} Complete this task</a>
    {% endif %}
</div>

<h4 class="my-3"> Comments </h4>
<div class="comments border border-primary rounded">
{% for comment in task.comments.all %} 
<div class="comment p-3 m-3 border rounded border-secondary d-flex flex-column">
    <div class="comment_header d-flex justify-content-between"><span> <strong> {{comment.created_by}} on {{comment.created}} </strong> </span>{% if comment.created_by.id == user.id %} <a class="link-primary" href="{{ task.id }}/delete_comment/{{ comment.id }}"> {% svg 'trash' %} </a>{% endif %}</div>
    <div class="comment_content"><p>{{ comment.text }}</p></div>
</div>
{% endfor %}
</div>
<div class="commentform my-3">
<h4> Add a new comment </h4>
<form method="post">{% csrf_token %}
    {{ form|crispy }}
    {{ form.error_text }}
    <input class="btn btn-primary" type="submit" value="Post comment">
</form>
</div>
{% endblock %}
