{% extends "task_app/master.html" %}
{% load crispy_forms_tags %}
{% block headline %}
    Task details
{% endblock %}

{% block content %}
<div class="taskinfo container-fluid">
    <div class="row">
        <div class="col-md-1">
            <p class=""><strong>Title:</strong></p>
        </div>
        <div class="col">
            {{ task.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <p><strong>Description:</strong></p>
        </div>
        <div class="col">
            {{ task.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <p><strong>Due on:</strong></p>
        </div>
        <div class="col">
            {{ task.due_date }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <p><strong>Created by:</strong></p>
        </div>
        <div class="col">
            {{ task.created_by }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <p><strong>Completed?:</strong></p>
        </div>
        <div class="col-md-auto">
            {% if task.is_completed %}✅{% else %}❌{% endif %}
        </div>
    </div>
</div>
<div>
    <a class="btn btn-primary" role="button" href="{% url "task_app:index" %}">Go home </a>
    <a class="btn btn-primary" role="button" href="{% url "task_app:update" task.id %}">Update this task</a>
    <a class="btn btn-primary" role="button" href="{% url "task_app:delete" task.id %}">Delete this task</a>
</div>

<h4 class="my-3"> Comments </h4>
{% for comment in task.comments.all %} 
<span> <strong> {{comment.created_by}} on {{comment.created}} </strong> </span> <a class="link-primary" href="{{ task.id }}/delete_comment/{{ comment.id }}"> X </a>
<p>{{ comment.text }}</p>
{% endfor %}

<h5> Add a new comment </h5>
<form method="post">{% csrf_token %}
    {{ form|crispy }}
    {{ form.error_text }}
    <input class="btn btn-primary" type="submit" value="Post comment">
</form>
{% endblock %}
