{% extends "task_app/master.html" %}

{% block title %}
    All tasks list
{% endblock %}

{% block headline %}
    Completed tasks
{% endblock %}

{% block content %}

{% if task_list %}

<table class="table table-hover">
    <tr>
        <th>Task name</th>
        <th>Created by</th>
    </tr>
    {% for task in task_list %}
    <tr class="{% if task.is_overdue %}table-warning{% endif %}">
        <td><a class="link-primary" href="{% url 'task_app:detail'  task.id %}"><strong>{{ task.name }}</strong></a></td>
        <a class="link-primary" href="{% url 'task_app:detail'  task.id %}"> <td>{{task.created_by}}</td> </a>
    </tr>
    {% endfor %}
</table>


{% else %}
    <p>No tasks have been created.</p>
{% endif %}

{% endblock %}