{% load static %}

<link rel="stylesheet" href="{% static 'task_app/style.css' %}">
<h1> INDEX PAGE </h1>
<button>
    <a href="{% url "task_app:create" %}">create a new page</a>
</button>
<span>you are currently logged in as: {{user}}
<button>
    <a href="{% url "logout" %}"> logout</a>
</button>


{% if task_list %}

<table>
    <tr>
        <th>Task name</th>
        <th>Created by</th>
        <th>Due on:</th>
    </tr>
    {% for task in task_list %}
    <tr class="{% if task.is_overdue %}overdue{% endif %}">
        <td><a href="{% url 'task_app:detail'  task.id %}">{{ task.name }}</a></td>
        <td>{{task.created_by}}</td>
        <td>{{task.due_date}}</td>
    </tr>
    {% endfor %}
</table>


{% else %}
    <p>No tasks have been created.</p>
{% endif %}

