<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{%endblock%}</title>
    {% load bootstrap5 %}
    {% load bootstrap_icons %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
</head>

<h1 class="display-4">{% block headline %}{% endblock %}</h1>

<div class="topbar d-flex bd-highlight mb-3 justify-content-between">
    <div class="left">
        <a class="btn btn-primary p-2" role="button" href="{% url "task_app:index" %}"><strong>{% bs_icon 'house' %} Home</strong></a>
        <a class="btn btn-primary ml-auto p-2" role="button" href="{% url "task_app:create" %}">{% bs_icon 'file-text' %} Create a <strong>new page</strong></a>
    </div>
    <div>
        <span class="btn btn-primary p-2">{% bs_icon 'person-fill' %} Currently logged in as: <strong> {{user}} </strong> </span>
        <a class="btn btn-primary p-2" role="button" href="{% url "logout" %}">{% bs_icon 'person-fill-x' %}<strong>Logout</strong></a> 
    </div>
</div>

<body class="p-4">
    {% block content %}
    {% endblock %}
</body>
</html>