{% extends "task_app/master.html" %}
{% load crispy_forms_tags %}
{% block title %} Updating task {% endblock %}

{% block headline %} Update task {% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
{% comment %} {% for field in form %}
    <div class="form-group my-3">
        {{ field.errors }}
        {{ field.label_tag }} {{field}}
        {% if field.help_text %}
        <p class="help">{{field.help_text|safe}} </p>
        {% endif %}
    </div>
{% endfor %} {% endcomment %}
{{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="Update task">
</form>
{% endblock %}